body {
  background-color: #FED0BB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.pizza {
/* border model */
border: 1px solid gainsboro;
padding: 1em;
margin: 1em;
/* margin-left: 0em; */
margin-bottom: 0.5em;
border-radius: 1em;

 /* use display: inline-block */
/* width: 20em;  
display: inline-block;
min-height: 30em;  */

}

.medium_pizza {
  background-color: #447604;
   flex: 1
}

.Large_pizza { 
  background-color: #FD3E81;
    flex: 1
}

.small_pizza {
<<<<<<< HEAD
 background-color: #EE5622; 
=======
 background-color: #FD3E81; 
>>>>>>> fb2e4b17a213faa5fc9bbb2e33ee76ba5293be80
    flex: 1
}

.contact_us {
     background-color: #ECFFF8; 

     


}
.special {

   background-color: black;
   color: white;
   
}

@media (min-width: 760px) {
/* apply this css if the page is wider than 760px */
 /* body{
    background-color:  #fff;
  
} */

/* .Large_pizza { 
  background-color: #107E7D;
    flex: 4
} */

}

@media (min-width: 960px) {
/* apply this css if the page is wider than 960px */
 /* body{
    background-color:  #fff; */
  
    .pizzas {
  display: flex;
}
} 




